---
import NavigationPage from "../layouts/NavigationPage.astro";
---

<NavigationPage title="about">
  <main>
    <h1>About</h1>

    <p>Tom van der Bijll (1993), opgeleid als cultureel antropoloog-socioloog, fotografeert vanaf zijn vijftiende,
      toen nog met een geleende camera. Richt zich met name op straatfotografie, zowel analoog als digitaal.<p>

    <p>Tom van der Bijll (1993), has a background in cultural anthropology and sociology. He has been photographing
      since he was fifteen years old, back then with a borrowed camera. He mainly focuses on street photography,
      both analogue and digital.</p>
        
      </p>Contact via e-mail: info@tomvanderbijll.com</p>
  </main>
</NavigationPage>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
