---
import NavigationPage from "../layouts/NavigationPage.astro";
---

<NavigationPage title="Welcome to Astro.">
  <main>
    <h1>contact</h1>
    <p>contact tom</p>
  </main>
</NavigationPage>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
