---
import NavigationPage from "../layouts/NavigationPage.astro";
const imageUrl = `${import.meta.env.BASE_URL}/assets/bio-foto_2400px.avif`;
---

<NavigationPage title="tom: contact">
  <section>
    <div>
      <h2>EN</h2>
      <p>
        Tom van der Bijll (1993), has a background in cultural anthropology and
        sociology. He has been photographing since he was fifteen years old,
        back then with a borrowed camera. He mainly focuses on street
        photography, both analogue and digital.
      </p>
      <p>For information and prints: info@tomvanderbijll.com</p>
    </div>

    <img src={imageUrl} width="400" height="400" />
    <div>
      <h2>NL</h2>
      <p>
        Tom van der Bijll (1993), opgeleid als cultureel antropoloog-socioloog,
        fotografeert vanaf zijn vijftiende, toen nog met een geleende camera.
        Richt zich met name op straatfotografie, zowel analoog als digitaal.
      </p>
      <p>Voor informatie en fotoprints: info@tomvanderbijll.com</p>
    </div>
  </section>
</NavigationPage>

<style>
  main {
    --main-row-gap: 48px;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }

  section {
    max-width: 110ch;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  section > div:first-of-type {
    grid-column: 1;
    grid-row: 2;
  }

  section > img {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: block;
    object-fit: cover;
    clip-path: circle();

    margin-inline: auto;
    background-color: lightgray;
  }

  section > div:last-of-type {
    grid-column: 3;
    grid-row: 2;
  }

  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr min-content 1fr;
      grid-template-rows: 180px;
      column-gap: 2rlh;
    }

    section > img {
      margin-inline: 0;
    }
  }
</style>
