---
import NavigationPage from "../layouts/NavigationPage.astro";
---

<<<<<<< HEAD
<Layout title="contact">
	<main>
		<h1>contact</h1>
		<p>contact tom</p>
	</main>
</Layout>
=======
<NavigationPage title="Welcome to Astro.">
  <main>
    <h1>contact</h1>
    <p>contact tom</p>
  </main>
</NavigationPage>
>>>>>>> 3ef0a6f5538cc1a4899368260bb425016b16f21d

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
