---
import Layout from "../layouts/Layout.astro";
---

<Layout title="doelen">
  <main>
    <h1 class="text-gradient">Portofolio</h1>
    <p class="text-gradient">Dit is mijn portofolio website.</p>
    <h2>Doelen</h2>
    <ol>
      <li>Hoofddoel, mensen kunnen foto's zien, wereld in helpen</li>
      <li>Creatieve proces stimuleren</li>
      <li>Zelfverzekerdheid stimuleren; bevestiging</li>
      <li>Wouw-moment geven</li>
      <li>Mensen zouden foto's kunnen kopen</li>
    </ol>
    <h3>Fotos</h3>
    <button>Dit is een knop</button>
    <button>Nog een knop</button>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  p {
    margin-block: 30px;
  }
  button {
    background-color: red;
  }
</style>
