---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-gradient">Portofolio</h1>
		<p class="text-gradient">Dit is mijn portofolio website.</p>
		<h2>Doelen</h2>
		<p class="text-gradient">Hoofddoel, mensen kunnen foto's zien, wereld in helpen.</p>
		<p class="text-gradient">Creatieve proces stimuleren</p>
		<p class="text-gradient">Zelfverzekerdheid stimuleren; bevestiging</p>
		<p class="text-gradient">Wouw-moment geven</p>
		<p class="text-gradient">Mensen zouden foto's kunnen kopen	</p>
		<h3>Fotos</h3>
		<button>Dit is een knop</button>
		<button>Nog een knop</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p {
		margin-block: 30px;		
	}
	button { 
		background-color: red;
	}
</style>
