---
import Layout from '../layouts/Layout.astro';
---

<Layout title="tom's portoflio">
	<main>
		<nav>
			<!-- TODO: make title into component and reuse it here and in the index -->
			<h2>tom van der bijl<span>l</span></h2>
			<div>
				<a href="/portofolio/over">over</a>
				<a href="/portofolio/contact">contact</a>
				<a href="https://instagram.com"><img src="/portofolio/assets/instagram-logo.svg"></a>
			</div>
		</nav>
		<section>
			<img src="/portofolio/assets/verbouwen-amsterdam.jpg" alt="" loading="lazy">
			<img src="/portofolio/assets/japan_bus.jpg" loading="eager">
			<img src="/portofolio/assets/japan_poort.jpg" loading="eager">
			<img src="/portofolio/assets/goudsmid-zurich.jpg" loading="eager" alt="">
			<img src="/portofolio/assets/man-met-krant-madrid.jpg" alt="" loading="lazy">
			<img src="/portofolio/assets/japan_paal.jpg" alt="" loading="lazy">
			<img src="/portofolio/assets/motor-casablanca.jpg" alt="" loading="lazy">
			<img src="/portofolio/assets/klaprozen-qazvin.jpg" alt="" loading="lazy">
		</section>
	</main>
</Layout>

<style>
	nav {
		border-block-end: 1px solid black;
		position: sticky;
		top: 0;
		grid-column: 1/3;
		background-color: var(--variant-2);
		display: grid;
		padding-inline: 1em;
		align-items: center;
	}

	h2 {
		cursor: default;
	}

	h2:hover span {
		margin-inline-start: 4px;
		transition: all 0.5s ease-out;
	}

	nav h2 {
		font-weight: 200;
		grid-column: 1/3;
		justify-self: center;
		grid-row: 1;
	}

	nav div {
		grid-row: 1;
		grid-column: 2;
		justify-self: end;
		display: flex;
		gap: 8px;
		align-items: center;
	}

	nav div a {
		color: var(--text-color);
	}

	nav div a:last-of-type {
		line-height: 0;
	}

	nav div a img {
		width: 24px;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 48px 1fr;
		column-gap: 8px;
		row-gap: 8px;
	}

	section {
		display: grid;
		grid-template-columns: repeat(2, 0.8415fr) 1fr;
		gap: 12px;
		grid-column: 1/3;
		padding-inline: 24px;
		margin-block-end: 32px;
	}

	img {
		max-width: 100%;
		max-height: 100%;

		/* Reset initistic image widths for css grid */
		min-width: 0;
		min-height: 0;

		border-radius: 8px;
		background-color: var(--variant-2);
		width: 100%;
	}

	@supports (grid-template-rows: masonry) {
		section {
			grid-template-columns: 1fr 1.683fr 1fr;
			grid-template-rows: masonry;
		}
	}

	@supports not (grid-template-rows: masonry) {
		section img[src$="japan_bus.jpg"]  {
			grid-column: 1/ span 2;
			grid-row: 1/ span 2;
			align-self: center;
		}

		section img[src$="japan_poort.jpg"] {
			grid-column: 3;
			grid-row: 1;
		}

		section img[src$="goudsmid-zurich.jpg"] {
			grid-column: 3;
			grid-row: 2/ span 2;
		}

		section img[src$="verbouwen-amsterdam.jpg"] {
			grid-column: 1;
			grid-row: 3/ span 2;
		}
		section img[src$="man-met-krant-madrid.jpg"] {
			grid-row: 3;
			grid-column: 2;
		}
		section img[src$="japan_paal.jpg"] {
			grid-row: 4/ span 2;
			grid-column: 3;
		}
		section img[src$="moto-casablance.jpg"] {
			grid-row: 4;
			grid-column: 2;
		}
		section img[src$="klaprozen-qazvin.jpg"] {
			grid-row: 5;
			grid-column: 2;
		}	
	}

	section img[src$="japan_bus.jpg"] {
		aspect-ratio: 2560/1698;
	}

	section img[src$="japan_poort.jpg"]  {
		aspect-ratio: 2560/1698;
	}

	section img[src$="goudsmid-zurich.jpg"] {
		aspect-ratio: 1719/2560;
	}

	section img[src$="verbouwen-amsterdam.jpg"] {
		aspect-ratio: 1575/2554;
	}
	section img[src$="man-met-krant-madrid.jpg"] {
		aspect-ratio: 2560/1709;
	}
</style>
