---
import NavigationPage from "../layouts/NavigationPage.astro";
import Photo from "../components/Photo.astro";
---

<NavigationPage title="tom: fotos">
  <section>
    <Photo
      title="berlijn-duitsland-2022"
      sizes="66vw"
      className="img1"
      loading="eager"
    />
    <Photo
      title="funatsu-japan-2017"
      sizes="33vw"
      className="img2"
      loading="eager"
    />
    <Photo
      title="fransum-nederland-2017"
      sizes="33vw"
      className="img3"
      oading="eager"
    />
    <Photo
      title="tanabe-2-japan-2017"
      sizes="66vw"
      className="img4"
      loading="eager"
    />
    <Photo
      title="darelkebdani-marokko-2015"
      sizes="50vw"
      className="img5"
      loading="eager"
    />
    <Photo
      title="jeruzalem-israel-2014"
      sizes="50vw"
      className="img6"
      loading="eager"
    />
    <Photo title="amsterdam-2-nederland-2022" sizes="100vw" className="img7" />
    <Photo title="ardabil-2-iran-2016" sizes="100vw" className="img8" />
    <Photo title="isfahan-2-iran-2016" sizes="50vw" className="img9" />
    <Photo title="fujikawaguchiko-japan-2017" sizes="50vw" className="img10" />
    <Photo title="lissabon-portugal-2023" sizes="100vw" className="img11" />

    <Photo title="lissabon-portugal-2015" sizes="66vw" className="img12" />
    <Photo title="tanabe-japan-2017" sizes="33vw" className="img13" />
    <Photo title="geiranger-2-noorwegen-2022" sizes="33vw" className="img14" />
    <Photo title="isfahan-3-iran-2016" sizes="100vw" className="img15" />
    <Photo title="tokyo-japan-2017" sizes="75vw" className="img16" />
    <Photo title="seoul-korea-2019" sizes="66vw" className="img17" />
    <Photo title="isfahan-4-iran-2016" sizes="33vw" className="img18" />
    <Photo title="amsterdam-2-nederland-2017" sizes="100vw" className="img19" />
    <Photo title="lissabon-2-portugal-2023" sizes="100vw" className="img20" />
    <Photo title="enna-italie-2022" sizes="66vw" className="img21" />
    <Photo title="porto-portugal-2015" sizes="33vw" className="img22" />
    <Photo title="amsterdam-nederland-2017" sizes="75vw" className="img23" />
    <Photo title="aarhus-denemarken-2023" sizes="33vw" className="img24" />
    <Photo
      title="noordpolderzijl-nederland-2017"
      sizes="33vw"
      className="img25"
    />
    <Photo title="geiranger-noorwegen-2022" sizes="66vw" className="img26" />
    <Photo title="ardabil-iran-2016" sizes="100vw" className="img27" />
    <Photo title="isfahan-iran-2016" sizes="100vw" className="img28" />
    <Photo title="madrid-spanje-2013" sizes="100vw" className="img29" />
    <Photo title="tokyo-2-japan-2017" sizes="100vw" className="img30" />
  </section>
</NavigationPage>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(4, 0.42075fr) repeat(2, 0.5fr);
    grid-template-rows: repeat(5, 20vw);
    grid-template-areas:
      "img1 img1 img1 img1 img2 img2"
      "img1 img1 img1 img1 img2 img2"
      "img3 img3 img4 img4 img4 img4"
      "img3 img3 img4 img4 img4 img4"
      "img5 img5 img5 img6 img6 img6"
      "img5 img5 img5 img6 img6 img6"
      "img5 img5 img5 img6 img6 img6"
      "img7 img7 img7 img7 img7 img7"
      "img7 img7 img7 img7 img7 img7"
      "img7 img7 img7 img7 img7 img7"
      "img8 img8 img8 img8 img8 img8"
      "img8 img8 img8 img8 img8 img8"
      "img8 img8 img8 img8 img8 img8"
      "img9 img9 img9 img10 img10 img10"
      "img9 img9 img9 img10 img10 img10"
      "img9 img9 img9 img10 img10 img10"
      "img11 img11 img11 img11 img11 img11"
      "img11 img11 img11 img11 img11 img11"
      "img11 img11 img11 img11 img11 img11"
      "img12 img12 img12 img12 img13 img13"
      "img12 img12 img12 img12 img14 img14"
      "img15 img15 img15 img15 img15 img15"
      "img15 img15 img15 img15 img15 img15"
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      ". img16 img16 img16 img16 ."
      "img17 img17 img17 img17 img18 img18"
      "img17 img17 img17 img17 img18 img18"
      "img19 img19 img19 img19 img19 img19"
      "img19 img19 img19 img19 img19 img19"
      "img19 img19 img19 img19 img19 img19"
      "img20 img20 img20 img20 img20 img20"
      "img20 img20 img20 img20 img20 img20"
      "img20 img20 img20 img20 img20 img20"
      "img21 img21 img21 img21 img22 img22"
      "img21 img21 img21 img21 img22 img22"
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      ". img23 img23 img23 img23 ."
      "img24 img24 img26 img26 img26 img26"
      "img25 img25 img26 img26 img26 img26"
      "img27 img27 img27 img27 img27 img27"
      "img27 img27 img27 img27 img27 img27"
      "img27 img27 img27 img27 img27 img27"
      "img28 img28 img28 img28 img28 img28"
      "img28 img28 img28 img28 img28 img28"
      "img28 img28 img28 img28 img28 img28"
      "img29 img29 img29 img29 img29 img29"
      "img29 img29 img29 img29 img29 img29"
      "img29 img29 img29 img29 img29 img29"
      "img30 img30 img30 img30 img30 img30"
      "img30 img30 img30 img30 img30 img30"
      "img30 img30 img30 img30 img30 img30";
    gap: 8px;
    grid-column: 1/3;
    padding-inline: 2vw;
    max-width: 1600px;
    margin-inline: auto;
    margin-block-end: 32px;
  }
  .img1 {
    --photo-grid-area: img1;
  }
  .img2 {
    --photo-grid-area: img2;
    --photo-object-position: 50% 100%;
  }
  .img3 {
    --photo-grid-area: img3;
    --photo-object-position: 50% 100%;
  }
  .img4 {
    --photo-grid-area: img4;
  }
  .img5 {
    --photo-grid-area: img5;
  }
  .img6 {
    --photo-grid-area: img6;
  }
  .img7 {
    --photo-grid-area: img7;
  }
  .img8 {
    --photo-grid-area: img8;
  }
  .img9 {
    --photo-grid-area: img9;
  }
  .img10 {
    --photo-grid-area: img10;
  }
  .img11 {
    --photo-grid-area: img11;
  }
  .img12 {
    --photo-grid-area: img12;
  }
  .img13 {
    --photo-grid-area: img13;
  }
  .img14 {
    --photo-grid-area: img14;
  }
  .img15 {
    --photo-grid-area: img15;
  }
  .img16 {
    --photo-grid-area: img16;
  }
  .img17 {
    --photo-grid-area: img17;
  }
  .img18 {
    --photo-grid-area: img18;
  }
  .img19 {
    --photo-grid-area: img19;
  }
  .img20 {
    --photo-grid-area: img20;
  }
  .img21 {
    --photo-grid-area: img21;
  }
  .img22 {
    --photo-grid-area: img22;
  }
  .img23 {
    --photo-grid-area: img23;
  }
  .img24 {
    --photo-grid-area: img24;
  }
  .img25 {
    --photo-grid-area: img25;
  }
  .img25 {
    --photo-grid-area: img25;
  }
  .img26 {
    --photo-grid-area: img26;
  }
  .img27 {
    --photo-grid-area: img27;
  }
  .img28 {
    --photo-grid-area: img28;
  }
  .img29 {
    --photo-grid-area: img29;
  }
  .img30 {
    --photo-grid-area: img30;
  }
</style>
