---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<img src="/portofolio/assets/japan_poort.jpg">
	</main>
</Layout>

<style>
	body {
		margin: 0;
	}

	img {
		display: block;
		margin-inline: auto;
		max-height: 100vh;
		max-width: 100vw;
	}
</style>