---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-gradient">Portofolio</h1>
		<p class="text-gradient">Dit is mijn portofolio website.</p>
		<h2>Fotos</h2>
		<button>Dit is een knop</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	p {
		margin-block: 30px;
	}
	button { 
		background-color: red;
	}
</style>
