---
import Layout from '../layouts/Layout.astro';
---

<Layout title="introductie">
	<main>
		<img src="/portofolio/assets/japan_poort.jpg" alt="">
        <div>
            <h1>tom van der bijl<span>l</span></h1>
            <h2>fotograaf</h2>
        </div>
        <a href="/portofolio/home">ontdek</a>
	</main>
</Layout>

<style>
    main {
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        color: var(--text-color);
        background-color: var(--variant-8);
    }

    main * {
        min-width: 0;
        min-height: 0;
        grid-row: 1;
        grid-column: 1;
    }

    main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-row: 1/5;
    }

    h1:hover span {
		margin-inline-start: 8px;
		transition: all 0.5s ease-out;
	}

    main a {
        height: min-content;
        width: min-content;
        grid-row: 4;
        justify-self: center;

        font-size: 2em;
        font-weight: 400;
        padding: 16px;
        background: transparent;
        border: 4px solid var(--text-color);
        color: var(--text-color);
        border-radius: 16px;

        text-decoration: none;
    }

    main div {
        justify-self: center;
        grid-row: 2;
        --min-size: 2em;
        --scaler: 6vmax;
        --max-size: 8em;
    }

    main div h1 {
        font-size: clamp(var(--min-size), var(--scaler), var(--max-size));
        margin: 0;
        font-weight: 700;
    }

    main div h2 {
        --multiplier: 0.5;
        font-size: clamp(calc(var(--min-size) * var(--multiplier)) , calc(var(--scaler) * var(--multiplier)), calc(var(--max-size) * var(--multiplier)));
        font-weight: 200;
        text-align: center;
    }
</style>
