---
import "../styles/nav.css";
---

<nav id="photos">
  <button><img id="logo" src="/logo.png" alt="logo" /></button>
  <h2>
    <button>tom van der bijl<span>l</span></button>
  </h2>
  <div>
    <a href="https://instagram.com/tomvanderbijll">instagram</a>
    <a id="contact" href="/contact">contact</a>
  </div>
</nav>
<script is:inline>
  document
    .querySelector("nav > button:first-of-type")
    .addEventListener("click", () => {
      document.body.scrollIntoView({ behavior: "smooth" });
    });

  document.querySelector("nav > h2 > button").addEventListener("click", () => {
    console.log("here");
    document
      .querySelector("main")
      .scrollIntoView({ behavior: "smooth", block: "start" });
  });
</script>
<style>
  nav {
    position: sticky;
    top: 0;
  }

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  nav > button {
    width: 44px;
    grid-row: 1;
    grid-column: 1;
  }
</style>
