---
import Photo from "./Photo.astro";

const images = [
  { title: "tanabe-portrait-japan-2017", media: "(max-width: 768px)" },
  { title: "tanabe-japan-2017" },
];
---

<header>
  <Photo images={images} className="header-img" />
  <div>
    <h1>tom van der bijl<span>l</span></h1>
    <h2>fotograaf-photographer</h2>
    <img src="/portofolio/logo-white.png" />
  </div>
  <button>discover</button>
</header>

<style>
  header {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    --photo-border-radius: 0;
  }

  header > div > img {
    width: 110px;
    aspect-ratio: 1;
    display: block;
    margin-inline: auto;
  }

  header * {
    min-width: 0;
    min-height: 0;
    grid-row: 1;
    grid-column: 1;
  }

  .header-img {
    grid-row: 1/5;
  }

  h1:hover span {
    margin-inline-start: 8px;
    transition: all 0.5s ease-out;
  }

  header button {
    height: min-content;
    width: min-content;
    grid-row: 4;
    justify-self: center;

    font-size: 2.5em;
    font-weight: 400;
    padding: 16px;
    background: transparent;
    color: white;
    border: 0.15em solid white;
    border-radius: 0.4em;
    cursor: pointer;

    text-decoration: none;
  }

  header div {
    justify-self: center;
    color: white;
    grid-row: 2;
  }

  header div h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    header div h1 {
      font-size: 5em;
    }

    header > div > img {
      width: 120px;
    }
  }
  header div h2 {
    font-weight: 200;
    text-align: center;
  }
</style>
