---
import Photo from "./Photo.astro";
import * as TanabeJapan2017 from "../pages/fragments/tanabe-japan-2017.md";

const images = [
  { title: "tanabe-portrait-japan-2017", media: "(max-width: 768px)" },
  { title: "tanabe-japan-2017" },
];
---

<header style={`--loading-color: ${TanabeJapan2017.frontmatter.averageColor}`}>
  <Photo images={images} loading="eager" fetchPriority="high" />
  <div>
    <h1>tom van der bijl<span>l</span></h1>
    <h2>mijn fotografie portofolio</h2>
    <img src="/logo-white.png" alt="logo" />
  </div>
  <button>discover</button>
</header>

<style>
  header {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-rows: 3fr 1fr;
  }

  header > div > img {
    width: 110px;
    aspect-ratio: 1;
    display: block;
    margin-inline: auto;
  }

  header :global(picture) {
    grid-row: 1 / span 2;
    grid-column: 1;
    --photo-border-radius: 0;
  }

  header > :global(picture) > :global(img) {
    background-color: var(--loading-color);
  }

  h1:hover span {
    display: inline-block;
    transform: translateX(8px);
    transition: all 0.5s ease-out;
  }

  header button {
    height: min-content;
    width: min-content;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;

    font-size: 1.4em;
    font-weight: 400;
    padding: 0.4em;
    background: transparent;
    color: white;
    border: 0.15em solid white;
    border-radius: 0.4em;
    cursor: pointer;

    text-decoration: none;
  }

  header div {
    justify-self: center;
    align-self: center;
    color: white;
    grid-row: 1;
    grid-column: 1;
  }

  header div h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-weight: 700;
  }

  header div h2 {
    font-weight: 200;
    text-align: center;
  }

  @media (min-width: 768px) {
    header div h1 {
      font-size: 5em;
    }

    header > div > img {
      width: 120px;
    }

    header button {
      font-size: 2.4em;
    }
  }
</style>
