<my-name>
  <template shadowrootmode="open">
    <style>
      div:hover > span {
        margin-inline-start: 4px;
        transition: all 0.5s ease-out;
      }
    </style>
    <div>
      tom van der bijl<span>l</span>
    </div>
  </template>
</my-name>
