<nav>
  <a href="/portofolio/"> <img src="/portofolio/logo.png" alt="logo" /></a>
  <!-- TODO: make title into component and reuse it here and in the index -->
  <h2><a href="/portofolio/">tom van der bijl<span>l</span></a></h2>
  <div>
    <a href="/portofolio/contact">contact</a>
    <a href="https://instagram.com/tomvanderbijll"
      ><img src="/portofolio/assets/instagram-logo.svg" /></a
    >
  </div>
</nav>
<style>
  nav {
    border-block-end: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--variant-2);
    display: grid;
    padding-inline: 1em;
    align-items: center;
    z-index: 1;
  }

  nav > h2 {
    cursor: default;
  }

  nav > a > img {
    height: 32px;
  }

  @media (min-width: 768px) {
    nav h2 {
      font-size: 2.4em;
    }
    nav > a > img {
      height: 48px;
    }
  }

  nav a {
    text-decoration: none;
  }

  nav h2:hover span {
    margin-inline-start: 4px;
    transition: all 0.5s ease-out;
  }

  nav h2 {
    font-weight: 200;
    grid-column: 1/3;
    justify-self: center;
    grid-row: 1;
  }

  nav div {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
  }

  nav div a,
  nav h2 > a {
    color: var(--text-color);
  }

  nav div a:last-of-type {
    line-height: 0;
  }

  nav div a img {
    width: 24px;
  }

  nav > a {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }
</style>
