---
import "../styles/nav.css";
---

<nav>
  <a href="/"> <img id="logo" src="/logo.png" alt="logo" /></a>
  <h2><a href="/#photos">tom van der bijl<span>l</span></a></h2>
  <div>
    <a id="contact" href="/contact">contact</a>
  </div>
</nav>
<style>
  nav h2 > a {
    color: var(--text-color);
  }

  nav > a {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }
</style>
