---
import "../styles/nav.css";
---

<nav>
  <a href="/"> <img id="logo" src="/logo.png" alt="logo" /></a>
  <h2><a href="/#photos">tom van der bijl<span>l</span></a></h2>
  <a id="contact" href="/contact">contact</a>
</nav>
