<nav>
  <button> <img src="/portofolio/logo.png" alt="logo" /></button>
  <!-- TODO: make title into component and reuse it here and in the index -->
  <h2>
    <button>tom van der bijl<span>l</span></button>
  </h2>
  <div>
    <a href="/portofolio/contact">contact</a>
    <!-- TODO: place correct href when instagram is ready -->
    <!--        <a href="https://instagram.com"
          ><img src="/portofolio/assets/instagram-logo.svg" /></a
        > -->
  </div>
</nav>
<script is:inline>
  document
    .querySelector("nav > button:first-of-type")
    .addEventListener("click", () => {
      document.body.scrollIntoView({ behavior: "smooth" });
    });

  document.querySelector("nav > h2 > button").addEventListener("click", () => {
    console.log("here");
    document
      .querySelector("main")
      .scrollIntoView({ behavior: "smooth", block: "start" });
  });
</script>
<style>
  nav {
    border-block-end: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--variant-2);
    display: grid;
    padding-inline: 1em;
    align-items: center;
    z-index: 1;
  }

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  h2 {
    cursor: default;
  }

  nav > :is(a, button) > img {
    height: 32px;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.4em;
    }
    nav > :is(a, button) > img {
      height: 48px;
    }
  }

  h2 button {
    text-decoration: none;
  }

  h2:hover span {
    margin-inline-start: 4px;
    transition: all 0.5s ease-out;
  }

  nav h2 {
    font-weight: 200;
    grid-column: 1/3;
    justify-self: center;
    grid-row: 1;
  }

  nav div {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.3rem;
  }

  nav div a,
  h2 > button {
    color: var(--text-color);
  }

  nav div a:last-of-type {
    line-height: 0;
  }

  nav div a img {
    width: 24px;
  }

  nav > button {
    width: min-content;
    grid-row: 1;
    grid-column: 1;
  }
</style>
