---
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
    <slot name="head" />
    <script
      defer
      fetchpriority="low"
      src="https://www.googletagmanager.com/gtag/js?id=G-V596Y2PN40"></script>
    <script is:inline>
      if (window.location.hostname !== "localhost") {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-V596Y2PN40");
      }
    </script>
  </head>
  <body>
    <slot />
    <style is:global>
      * {
        box-sizing: border-box;
      }

      html {
        background-color: var(--variant-2);
      }

      main {
        display: grid;
        grid-template-rows: min-content 1fr;
        row-gap: min(2vw, 48px);
      }

      img {
        display: block;
      }

      section {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-inline: 2vw;
      }

      :root {
        --variant-1: #f6f6f6;
        --variant-2: #efefef;

        --background-color: var(--variant-1);
        --text-color: black;
      }

      @supports (color: oklch(0 0 0)) {
        :root {
          --variant-1: oklch(97.31% 0 0);
          --variant-2: oklch(95.31% 0 0);
        }
      }

      html {
        font-family: "Helvetica Neue", Inter, Roboto, "Arial Nova",
          "Nimbus Sans", Arial, sans-serif;
        background-color: var(--background-color);
        color: var(--text-color);
      }

      body,
      h2 {
        margin: 0;
      }
    </style>
  </body>
</html>
