---
import Photo from "../components/Photo.astro";
import NavigationPage from "./NavigationPage.astro";
const { frontmatter } = Astro.props;
---

<NavigationPage title={frontmatter.title} >
  <section id="detail-page">
    <h1>{frontmatter.description}</h1>
    <Photo images={[{ title: frontmatter.title }]} />
  </section>
</NavigationPage>
