---
import Photo from "../components/Photo.astro";
import NavigationPage from "./NavigationPage.astro";
const { frontmatter } = Astro.props;
const title = frontmatter.title;

---

<NavigationPage title={title} >
  <section id="detail-page">
    <h1>{frontmatter.description}</h1>
    <Photo images={[{ title }]} animate={true} />
  </section>
</NavigationPage>
