---
import Photo from "../components/Photo.astro";
const { frontmatter } = Astro.props;
---

<div id="mooi">
  <style>
    div[id="mooi"] {
      max-height: 100vh;
    }
  </style>
  <Photo images={[{ title: frontmatter.title }]} />
  <p>{frontmatter.description}</p>
</div>
